//Services Control
bool serviceMqtt = true;
bool serviceWebServer = true;
bool serviceRelay = true;
bool serviceRtc = true;
bool serviceNtp = true;
bool serviceOneButton = true;
bool serviceDallasTemperature = true;
bool serviceBuzzer = true;

//Config WiFi
#ifndef STASSID
#define STASSID "xxxx"
#define STAPSK  "xxxx"
#endif

WiFiClient espClient;

const char* ssid = STASSID;
const char* password = STAPSK;
const int checkWiFiTimeout = 15; //seconds
const int checkWiFiReconnect = 60; //minutes // reconnect after offlineMode
int onlineMode = 1;

//Config ArduinoOTA
const char* otaHostname = "OpenSA";
const char* otaPassword = "xxxx";

//Config MQTT
PubSubClient mqttCore(espClient);
int checkMqttTimeout = 15;
const char *mqttBroker = "broker.emqx.io";
const int mqttPort = 1883;
const char *mqttUsername = "emqx";
const char *mqttPassword = "public";
String MqttPrefix = String("xxx/");
struct {
    const char *main = strdup(String(MqttPrefix + "s/#").c_str());
    const char *hello = strdup(String(MqttPrefix + "d/h").c_str());
    const char *relay0 = strdup(String(MqttPrefix + "s/r/0").c_str());
    const char *relay0Start = strdup(String(MqttPrefix + "s/r/0/s").c_str());
    const char *relay0End = strdup(String(MqttPrefix + "s/r/0/e").c_str());
    const char *relay1 = strdup(String(MqttPrefix + "s/r/1").c_str());
    const char *forceOnTimeout = strdup(String(MqttPrefix + "s/fot").c_str());
    const char *lightingMode = strdup(String(MqttPrefix + "s/lm").c_str());
    const char *lightingDianaStart = strdup(String(MqttPrefix + "s/lds").c_str());
    const char *lightingDianaDuration = strdup(String(MqttPrefix + "s/ldd").c_str());
    const char *commands = strdup(String(MqttPrefix + "s/cmd").c_str());
    const char *temperatureData = strdup(String(MqttPrefix + "d/t").c_str());
    const char *temperatureInterval = strdup(String(MqttPrefix + "s/t/i").c_str());
    const char *temperatureMonitor = strdup(String(MqttPrefix + "s/t/m").c_str());
    const char *temperatureAlarm = strdup(String(MqttPrefix + "s/t/a").c_str());
} topic;


//Config WebServer
ESP8266WebServer server;

//Config RELAY
const int relays = 2;
const int pinRelay[relays] = {
    14, //relay0
    12, //relay1
};
bool stateRelay[relays];

//millis - time to wait for
unsigned long nowMillis = millis();
unsigned long lastCheckSchedule;
unsigned long lastCheckWifi;
unsigned long lastCheckMqtt;
unsigned long lastCheckTemperature;
unsigned long forceOnStart;
unsigned long nextWiFiReconnect;


//Config NTP
WiFiUDP ntpUDP;
NTPClient timeClient(ntpUDP);

//Config RTC
RTC_DS1307 rtc;
char daysOfTheWeek[7][12] = {"Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"};
int myTimezone = 7;
DateTime now = DateTime();

//Config SmartBtn
bool stateForceOn = 0;
const int pinSmartBtn = 13;
OneButton smartBtn(pinSmartBtn, true);

// Config Temperature DS18B20 sensor
const int pinTemperature = 2;
OneWire wireTemperature(pinTemperature);// Setup a oneWire instance to communicate with any OneWire devices
DallasTemperature sensorTemperature(&wireTemperature); // Pass our oneWire reference to Dallas Temperature sensor

// Config Buzzer
const int pinBuzzer = 15;

//Config EEPROM
struct dataEEPROM {
    bool relayState[relays] = {0,0};
    int relay0HoursStart = 17; // 24 hours
    int relay0HoursEnd = 23; // 24 hours
    int test = 1;
    int checkScheduleInterval = 1; //seconds
    int forceOnTimeout = 30; //minute
    bool temperatureMonitor = true;
    int temperatureInterval = 1; //second
    int lightingMode = 1; // 1 : long, 2 : Diana Walstad
    int lightingDianaStart = 3; // 24 hours
    int lightingDianaDuration = 4; // hour
    int lightingDianaCountSchedule;
    int lightingDianaScheduleStart[5];
    int lightingDianaScheduleEnd[5];
};
dataEEPROM myDataEEPROM;
const int eepromSize = 1024;
